/* OrderAndProductionReport.css */

.Inventory {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #fef6f3;
  
  }
  
  .scrollableBody {
    flex: 1;
    overflow-y: auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* White background for content area */
    border-radius: 15px; /* Rounded corners for a soft look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    max-width: 50%;
    text-align: left;
  }
  
  .title {
    font-size: 42px; /* Slightly smaller, playful font size */
    font-weight: 700;
    color: #ff6f61; /* Use the vibrant color from the theme */
    margin-bottom: 20px;
    align-items: center; /* Center content horizontally */
    justify-content: center;
  }
  
  .description {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
    align-items: center; /* Center content horizontally */
    justify-content: center;
  }
  
  /* Common button styling */
  .ctaButton, .resourceButton, .reportButton {
    padding: 10px 25px;
    font-size: 12px;
    color: #ffffff;
    background-color: #ff6f61;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; /* Ensure all buttons are the same width */
  }
  
  .ctaButton:hover, .resourceButton:hover, .reportButton:hover {
    background-color: #e45b4c;
  }
  
  /* Centering buttons */
  .buttonContainer {
    display: flex;
    justify-content: center; /* Centers buttons horizontally */
    margin-bottom: 20px; /* Add some space below the buttons */
  }
  
  /* Centering image */
  .illustrationContainer {
    display: flex;
    justify-content: center; /* Centers the image container */
    margin-top: 20px;
    
  }
  
  .illustration {
    max-width: 45%;
  }
  
  .illustrationImage {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Rounded corners for images */
    
  }